html{   
background-image:url(about:blank);  
background-attachment:fixed;   
}  
.CodeMirror-fullscreen {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9;
}
